In [1]:
import pandas as pd

In [2]:
df_cars = pd.DataFrame(columns = ["Brand","Color"])

In [3]:
df_cars

Empty DataFrame
Columns: [Brand, Color]
Index: []

In [4]:
data1={"Brand":["BMW","Toyota","Honda"],
      "Color":["Red","Black","White"]}
df_cars1 = pd.DataFrame(data1)

In [5]:
df_cars1

    Brand  Color
0     BMW    Red
1  Toyota  Black
2   Honda  White

In [6]:
data2 = {"Brand":["Ferrari","Maserati"],
        "Color":["Red","White"]}
df_cars2 = pd.DataFrame(data2)

In [7]:
df_cars2

      Brand  Color
0   Ferrari    Red
1  Maserati  White

In [8]:
df_cars3 = pd.concat([df_cars1,df_cars2])

In [9]:
df_cars3

      Brand  Color
0       BMW    Red
1    Toyota  Black
2     Honda  White
0   Ferrari    Red
1  Maserati  White

In [10]:
df_cars3.reset_index(drop = True, inplace = True)

In [11]:
df_cars3

      Brand  Color
0       BMW    Red
1    Toyota  Black
2     Honda  White
3   Ferrari    Red
4  Maserati  White

In [12]:
df_cars4 = pd.DataFrame({"Cost":[40000,25000,27000,300000,120000]})

In [13]:
df_cars4

     Cost
0   40000
1   25000
2   27000
3  300000
4  120000

In [14]:
df_cars5 = pd.concat([df_cars3,df_cars4],axis=1)

In [15]:
df_cars5

      Brand  Color    Cost
0       BMW    Red   40000
1    Toyota  Black   25000
2     Honda  White   27000
3   Ferrari    Red  300000
4  Maserati  White  120000